{% extends 'index.html' %}
{% block content %}

<div class="container" mt-5>

    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data" >

        {% csrf_token %}
        <h3>Add Recipe</h3>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Recipe name</label>
          <input name="recipe_name" required type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Recipe Description</label>
          <textarea class="form-control" name="recipe_description" required></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe Image</label>
            <input name="recipe_image" required type="file" class="form-control" >
        </div>

        <button type="submit" class="btn btn-success ">Add Recipe</button>
      </form>
      
      <hr>
      <div class="mt-5">
        <div class="mx-auto col-6">
          <form action="">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search Food</label>
            <input name="search" type="text" class="form-control" >
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Recipe Name</th>
            <th scope="col">Recipe Desc</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
            
          </tr>
        </thead>
        <tbody>
          {% for recipe in recipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{recipe.recipe_name}}</td>
            <td>{{recipe.recipe_description}}</td>
            <td>
              <img src="/media/{{recipe.recipe_image}}" style="height:100px">
            </td>
            <td>
              <a href="/delete-recipe/{{recipe.id}}/" class="btn btn-danger m-2">Delete</a>
              <a href="/update-recipe/{{recipe.id}}/" class="btn btn-success">Update</a>
            </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>

</div>

{% endblock content %}